@mixin xl {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin lg {
  @media (max-width: (1200px)) {
    @content;
  }
}

@mixin md {
  @media (max-width: (992px)) {
    @content;
  }
}

@mixin sm {
  @media (max-width: (769px)) {
    @content;
  }
}

@mixin xs {
  @media (max-width: (576px)) {
    @content;
  }
}
