/* sizes */
$small-size: 14px;
$main-size: 18px;
$big-size: 24px;
$title-size: 48px;

/* colors  */
$black-color: #000;
$white-color: #FFF;
$dark-grey-color: #393B3C;
$light-grey-color: rgb(255 255 255 / 50%);
$text-color: rgb(255 255 255 / 70%);
$shadow-color: rgb(255 255 255 / 33%);
$border-card-color: rgb(255 255 255 / 25%);
$border-btn-color: rgb(0 0 0 / 40%);
$icon-btn-color: #333;

$blue-color: #67A5EB;
$gold-color: #A59400;
$green-color: #308E21;
$grey-color: #777;
$red-color: #c82020;
$purple-color: #6a5dc2;
$pink-color: #DC5DFC;
$error-color: #ff7575;

/* fonts  */
$font-family: "Play", sans-serif;

/* offsets  */
$container-offset: 80px;
$container-offset-lg: 60px;
$container-offset-md: 40px;
$container-offset-xs: 20px;

